# ── PostgreSQL / PostGIS ──────────────────────
POSTGRES_DB=projekt
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Port na hoście (żeby nie kolidował z lokalnym PG)
POSTGRES_PORT_HOST=5433

# ── Redis ─────────────────────────────────────
REDIS_URL=redis://redis:6379/0
REDIS_PORT_HOST=6380

# ── Django ────────────────────────────────────
DJANGO_SECRET_KEY=zmien-mnie-na-cos-losowego-przed-deploymentem
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,backend

# ── Celery ────────────────────────────────────
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# --- AWS S3 ---
# w example zostawiam puste wartsci 
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=SMUK-APP-S3-STORAGE
AWS_S3_REGION_NAME=eu-central-1
USE_S3=False

# --huggingface --
HUGGINGFACE_API_KEY=hf_tutaj_wklej_swoj_wygenerowany_klucz