@import "tailwindcss";

@theme {
  --font-lexend: "Lexend", sans-serif;
  --shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.05);
  --color-primary: #1132d4;
}

@layer base {
  body {
    font-family: var(--font-lexend);
    background-color: #f9fafb;
    color: #111827;
  }

  input,
  textarea,
  select,
  button {
    outline: none;
    border: none;
  }
}